.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.Textfield {
	width: 400px;
}

.btnASendAction {

	background-color: yellow;
	color: black;
	height: 54px;
	width: 400px;
	border-radius: 25px;
	font-size: 18px;
	border: none;
	margin: 10px;
}

.btnASendAction:hover {
	color: white;
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgb(11, 4, 4) 77%, rgb(0, 0, 0) 100%);
}
